<app-header></app-header>
<nav class="shift">
  <ul>
    <li *ngIf="!validacion"><a href="#" routerLink="/login" routerLinkActive="Active">
      {{ 'menu.inicio' | translate }}
    </a></li>
    <li *ngIf="!validacion"><a href="#" routerLink="/registro" routerLinkActive="Active">
      {{ 'menu.registro' | translate }}
    </a></li>
    <li *ngIf="validacion"><a href="#" routerLink="/academica" routerLinkActive="Active">
      {{ 'menu.academica' | translate }}
    </a></li>
    <li *ngIf="validacion"><a href="#" routerLink="/listacasos" routerLinkActive="Active">
      {{ 'menu.casosdermatologicos' | translate }}
    </a></li>
    <li *ngIf="validacion"><a href="#" routerLink="/casosreclamados" routerLinkActive="Active">
      {{ 'menu.casosreclamados' | translate }}
    </a></li>
    <li *ngIf="validacion"><a href="#" routerLink="/seguimientodiagnostico" routerLinkActive="Active">
      {{ 'menu.seguimientodiagnostico' | translate }}
    </a></li>
    <li *ngIf="validacion"><a href="#" (click) = "eliminarToken()"  routerLinkActive="Active">
      {{ 'menu.salir' | translate }}
    </a></li>
    <li>

      <li>



    <li>

	 <div class="form-group col-md-8 offset-3">
        <label for="changeLanguaje" class="label">
          {{ 'menu.lenguaje' | translate }}
        </label>
        <select class="custom-select" id="changeLanguaje" [(ngModel)]="languaje" (change)="changeLanguaje()">
           <option [value]="item.value" *ngFor="let item of languajes">{{item.key}}</option>
    </select>
    </div>

    </li>

    <li *ngIf="validacion" class="user">
    <a>
      <table>
        <tr>
          <p>{{ 'menu.nombre' | translate }} : {{ nombre }}</p>
        </tr>
        <tr>
          <p>{{ 'menu.username' | translate }} : {{ username }}</p>
        </tr>
      </table>

    </a>
  </li>

  </ul>


</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
