<app-header></app-header>
<nav class="shift">
  <ul>
    <li><a href="#" routerLink="/login" routerLinkActive="Active">
      {{ 'menu.inicio' | translate }}
    </a></li>
    <li><a href="#" routerLink="/registro" routerLinkActive="Active">
      {{ 'menu.registro' | translate }}
    </a></li>
    <li><a href="#" routerLink="/academica" routerLinkActive="Active">
      {{ 'menu.academica' | translate }}
    </a></li>
    <li><a href="#" routerLink="/listacasos" routerLinkActive="Active">
      {{ 'menu.casosdermatologicos' | translate }}
    </a></li>
    <li><a href="#" routerLink="/casosreclamados" routerLinkActive="Active">
      {{ 'menu.casosreclamados' | translate }}
    </a></li>
    <li>

	 <div class="form-group col-md-8 offset-3">
        <label for="changeLanguaje" class="label">
          {{ 'menu.lenguaje' | translate }}
        </label>
        <select class="custom-select" id="changeLanguaje" [(ngModel)]="languaje" (change)="changeLanguaje()">
           <option [value]="item.value" *ngFor="let item of languajes">{{item.key}}</option>
    </select>
    </div>

    </li>
  </ul>

</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
