<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Consulta Casos Dermatológicos</title>
  </head>

  <body>

<div id="tabla">

  <p-panel header="Consulta Casos Dermatológicos">

    <div id="registro">
      <form id="filtroform" [formGroup] = "filtroform"  (ngSubmit)="submit()">

        <div id="contenedor">
         <div id="finicial">
           <label for="finicial" class="label">Fecha Inicial de Registro:</label>
           <input type="date" formControlName ="finicial" [(ngModel)]="finicial" placeholder="Fecha Inicial de Registro:" name="finicial">
         </div>


         <div id="nombre">
           <label for="nombre" class="label">Nombre del Paciente:</label>
           <input type="text" formControlName ="nombre" [(ngModel)]="nombre" placeholder="Nombre del Paciente" name="nombre">
         </div>

         <div id="edad">
           <label for="edad" class="label">Edad del Paciente:</label>
           <input type="number" formControlName ="edad" [(ngModel)]="edad" placeholder="Edad del Paciente:" name="edad">
         </div>



       </div>

       <div  id="contenedor">
         <div id="ffinal" >
           <label for="ffinal" class="label">Fecha Final de Registro:</label>
           <input type="date" formControlName ="ffinal" [(ngModel)]="ffinal" placeholder="Fecha Final de Registro:" name="ffinal">
         </div>

         <div id="nacionalidad">
           <label for="nacionalidad" class="label">Nacionalidad</label>
           <select name="nacionalidad" [(ngModel)]="nacionalidad" (change) = "valueChangeNacionalidad($event)">
             <option *ngFor="let pais of listapaises" [value]="pais.codigo">
               <span>{{ pais.nombre }}</span>
             </option>
           </select>
         </div>


         <div id="sexo" >
           <label for="sexo" class="label">Sexo:</label>
           <select id="sexo" placeholder="Sexo" name="sexo" [(ngModel)]="sexo" (change) = "valueChangeSexo($event)">
             <option *ngFor="let s of listasexo" [value]="s.codigo">
               <span>{{ s.nombre }}</span>
             </option>
           </select>
         </div>

       </div>


     <div id="fila">


       <div id="descripcion" >
         <label for="descripcion" class="label">Descripción Caso:</label>
         <input type="text" formControlName ="descripcion" [(ngModel)]="descripcion" placeholder="Descripción Caso" name="descripcion" required>
       </div>


     </div>
     <div id="contenedor">


       <button type="submit" title="Consultar" (click)="consultar()" name="consultar" class="button consultar">
             Consultar
       </button>

       <div style="width: 10%; float: right">
       </div>

     <button type="submit" title="Cancelar" (click)="nuevaConsultar()" name="consultar" class="button cancelar">
         Nueva Consulta
   </button>
 </div>


 <br>




       </form>
    </div>

</p-panel>


</div>


<div id="tabla">
  <div class="card">
    <p-table #dt2 [value]="casos" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" id="myTable"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [globalFilterFields]="['fecharegistro','paciente.nombre','paciente.nacionalidad','paciente.edad']"
        >

        <ng-template pTemplate="header" >
            <tr>

              <th id="rfecharegistro" pSortableColumn="fecharegistro">{{ 'listacaso.fecha' | translate }}
                <p-sortIcon field="fecharegistro"></p-sortIcon></th>
              <th id="rpacientenombre" pSortableColumn="paciente.nombre">{{ 'listacaso.nombres' | translate }}
                <p-sortIcon field="paciente.nombre">
              </p-sortIcon></th>
              <th id="rnacionalidad" pSortableColumn="paciente.nacionalidad">{{ 'listacaso.nacionalidad' | translate }}
                <p-sortIcon field="paciente.nacionalidad">
              </p-sortIcon></th>
              <th id="rdescripcion" pSortableColumn="descripcion">{{ 'listacaso.descripcion' | translate }}
                <p-sortIcon field="descripcion">
              </p-sortIcon></th>
              <th id="redad" pSortableColumn="paciente.edad">{{ 'listacaso.edad' | translate }}
                <p-sortIcon field="paciente.edad">
              </p-sortIcon></th>
              <th id="rsexo" pSortableColumn="paciente.sexo">{{ 'listacaso.sexo' | translate }}
                <p-sortIcon field="paciente.sexo">
              </p-sortIcon></th>
              <th id="rdetalle">{{ 'listacaso.verdetalle' | translate }}</th>

            </tr>
            <tr>

                <th id="rfiltrofecharegistro">
                    <p-columnFilter type="text" field="fecharegistro"></p-columnFilter>
                </th>
                <th id="rfiltronombre">
                    <p-columnFilter type="text" field="paciente.nombre"></p-columnFilter>
                </th>
                <th id="rfiltronacionalidad">
                  <p-columnFilter type="text" field="paciente.nacionalidad"></p-columnFilter>
                </th>

                <th id="rfiltrodescripcion">
                  <p-columnFilter type="text" field="descripcion"></p-columnFilter>
                </th>

                <th id="rfiltroedad">
                  <p-columnFilter type="text" field="paciente.edad"></p-columnFilter>
                </th>

                <th id="rfiltrosexo">
                  <p-columnFilter type="text" field="paciente.sexo"></p-columnFilter>
                </th>

                <th id="rfiltrodetalle">

                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-c ngFor let-i="rowIndex">
            <tr [ngClass]="{'row-impar': (i % 2) == 0, 'row-par': (i % 2) != 0}">

              <td>{{ c.fecha_creacion }}</td>
              <td>{{ c.paciente.nombres }} {{c.paciente.apellidos}}</td>
              <td>{{ c.paciente.lugar_nacimiento }}</td>
              <td>{{ c.descripcion }}</td>
              <td>{{ c.paciente.edad }}</td>
              <td>{{ c.paciente.sexo }}</td>
              <td>
                <a href="#" routerLink="/detalle/{{ c.id }}/{{ c.paciente.id }}">

                <div *ngIf="c.estado == 'CREADO'">
                   <button type="submit" title="Ingresar" name="Ingresar" class="button consultar">
                    {{ 'listacaso.verdetalle' | translate }}
                  </button>
                </div>

                </a>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>
</body>
</html>

