<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!DOCTYPE html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Consulta Casos Dermatológicos</title>
  </head>

  <body class="p-3 m-0 border-0 bd-example">

    <div id="contenedor" style="background-color:white;">
        <div class="panel panel-default" style="width: 45%; float: center; background-color:#0F89D1;">
        <div class="panel-heading">

          <div class="titulo">
            {{ 'detallecaso.tituloinformacionpaciente' | translate }}
            </div>
            <div class="titulo">
              {{ 'detallecaso.tituloinformacionpaciente2' | translate }}
            </div>

          </div>
        <div class="panel-body" style="width: 45%; float: center; background-color:#0F89D1;">
          <div id="nombres">
            <label for="nombres" class="label">
              {{ 'detallecaso.nombres' | translate }}
            </label>
          </div>

          <div id="edad">
            <label for="edad" class="label">
              {{ 'detallecaso.edad' | translate }}:
            </label>
          </div>

          <div id="sexo">
            <label for="sexo" class="label">
              {{ 'detallecaso.sexo' | translate }}:
            </label>
          </div>

          <div id="nacionalidad">
            <label for="nacionalidad" class="label">
              {{ 'detallecaso.nacionalidad' | translate }}:
            </label>
          </div>

          <div id="residencia">
            <label for="residencia" class="label">
              {{ 'detallecaso.lugarresidencia' | translate }}:
            </label>
          </div>

        </div>
      </div>

<div style="width: 10%; float: center; background-color:white;"></div>


<div class="panel panel-default" style="width: 45%; float: center; background-color:#0F89D1;">

<div class="panel-heading">

  <div class="titulo">
    {{ 'detallecaso.tituloperfildermatologico' | translate }}
    </div>

    <div class="titulo">
      {{ 'detallecaso.tituloinformacionpaciente2' | translate }}
    </div>

  </div>
<div class="panel-body" style="width: 45%; float: center; background-color:#0F89D1;">
  <div id="forma">
    <label for="forma" class="label">
      {{ 'detallecaso.formalesion' | translate }}
    </label>
  </div>

  <div id="tipo">
    <label for="tipo" class="label">
      {{ 'detallecaso.tipolesion' | translate }}
    </label>
  </div>
  <div id="numero">
    <label for="numero" class="label">
      {{ 'detallecaso.numerolesion' | translate }}
    </label>
  </div>
  <div id="color">
    <label for="color" class="label">
      {{ 'detallecaso.colorlesion' | translate }}
    </label>
  </div>

  <div id="localizacion">
    <label for="localizacion" class="label">
      {{ 'detallecaso.localizacionydistribucionlesion' | translate }}
    </label>
  </div>

        </div>
   </div>
    </div>



    <br/>

    <div class="panel panel-default" style="margin-left: 100px;  width: 80%; float: center; background-color:#0F89D1;">
      <div class="panel-heading">

        <div class="titulo">
          {{ 'detallecaso.descripcionlesion' | translate }}
          </div>
          <div class="titulo">
            {{ 'detallecaso.tituloinformacionpaciente2' | translate }}
          </div>

        </div>
      <div class="panel-body" style="background-color:#0F89D1;">
        <div id="descripcioncaso">
          <label for="descripcioncaso" class="label">
            Roma, la capital de Italia, es una extensa ciudad cosmopolita que tiene a la
            vista casi 3,000 años de arte, arquitectura y cultura de influencia mundial.
            Las ruinas antiguas como las del Foro y el Coliseo evocan el poder del antiguo
            Imperio Romano. La ciudad del Vaticano, sede central de la Iglesia católica romana,
            cuenta con la Basílica de San Pedro y los Museos del Vaticano, que albergan obras
            maestras como los frescos de la Capilla Sixtina de Miguel Ángel.

          </label>
        </div>


      </div>
    </div>







    <br/>



    <div  class="panel panel-default" style="margin-left: 100px; width: 80%;background-color:#0F89D1;">
      <div class="panel-heading">

        <div class="titulo">
          {{ 'detallecaso.fotografialesion' | translate }}

          </div>
          <div class="titulo">
            {{ 'detallecaso.tituloinformacionpaciente2' | translate }}
          </div>

        </div>
      <div class="panel-body" style="background-color:#0F89D1;">


        <p-carousel [value]="items" [numVisible]="3" [numScroll]="3">
          <ng-template let-item pTemplate="item">
            <div class="item">{{ item }}</div>
            <div class="mb-3">
              <img src="assets/image/{{item}}.jpg"
              [alt]="item" styleClass="product-image" />
          </div>
          <div class="car-buttons mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>

        </div>
          </ng-template>
        </p-carousel>



        <!-- End Example Code -->


      </div>
    </div>



  <div id="contenedor" style="margin-left: 100px; width: 20%; float: center">
    <div style="width: 50%; float: center">
      <button i18n type="submit" title="Ingresar" name="Ingresar" class="button ingresar">
        {{ 'login.botoningresar' | translate }}
      </button>
    </div>
    <div style="width: 50%; float: right">
      <button type="submit"
        title="Cancelar"
        name="Cancelar"
        class="button cancelar"
      >
      {{ 'login.botoncancelar' | translate }}
      </button>
    </div>
  </div>


  </body>
</html>
<!-- Container /- -->




