<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Consulta Casos Dermatológicos</title>
  </head>

  <body class="p-3 m-0 border-0 bd-example">

    <div style="width: 100%" class="row">
      <div style="width: 50%" class="col">

   <p-panel header=" {{ 'detallecaso.tituloinformacionpaciente' | translate }}
    {{ 'detallecaso.tituloinformacionpaciente2' | translate }}" [toggleable]="true">

    <div id="nombres">
     <label for="nombres" class="label2">
       {{ 'detallecaso.nombres' | translate }} : {{caso.paciente.nombres}}  {{caso.paciente.apellidos}}
     </label>
   </div>

   <div id="edad">
     <label for="edad" class="label2">
       {{ 'detallecaso.edad' | translate }} : {{caso.paciente.edad}}
     </label>
   </div>

   <div id="sexo">
     <label for="sexo" class="label2">
       {{ 'detallecaso.sexo' | translate }} : {{caso.paciente.sexo}}
     </label>
   </div>

   <div id="nacionalidad">
     <label for="nacionalidad" class="label2">
       {{ 'detallecaso.nacionalidad' | translate }} : {{caso.paciente.lugar_nacimiento}}
     </label>
   </div>

   <div id="residencia">
     <label for="residencia" class="label2">
       {{ 'detallecaso.lugarresidencia' | translate }} : {{caso.paciente.lugar_residencia}}
     </label>
   </div>


   </p-panel>

 </div>
<div style="width: 50%" class="col">

   <p-panel header=" {{ 'detallecaso.tituloperfildermatologico' | translate }}
   {{ 'detallecaso.tituloinformacionpaciente2' | translate }}" [toggleable]="true">
   {{caso.paciente.perfil_dermatologico}}
  </p-panel>

</div>

   </div>


<br/>


   <div style="width: 100%" class="row">
     <div style="width: 50%" class="col">

  <p-panel header=" {{ 'detallecaso.informacionbasicalesion' | translate }}
   {{ 'detallecaso.tituloinformacionpaciente2' | translate }}" [toggleable]="true">

   <div id="forma">
     <label for="forma" class="label2">
        {{ 'detallecaso.formalesion' | translate }} : {{caso.forma}}
      </label>
    </div>

    <div id="tipo">
      <label for="tipo" class="label2">
        {{ 'detallecaso.tipolesion' | translate }} : {{caso.tipo}}
      </label>
    </div>
    <div id="numero">
      <label for="numero" class="label2">
        {{ 'detallecaso.numerolesion' | translate }} : {{caso.numero}}
      </label>
    </div>
    <div id="color">
      <label for="color" class="label2">
        {{ 'detallecaso.colorlesion' | translate }} : {{caso.color}}
      </label>
    </div>

    <div id="localizacion">
      <label for="localizacion" class="label2">
        {{ 'detallecaso.localizacionydistribucionlesion' | translate }} :
        {{caso.descripcion}}
      </label>
    </div>



  </p-panel>

</div>
<div style="width: 50%" class="col">

  <p-panel header="  {{ 'detallecaso.descripcionlesion' | translate }}
  {{ 'detallecaso.tituloinformacionpaciente2' | translate }}" [toggleable]="true">

  <div id="descripcioncaso">
   <label for="descripcioncaso" class="label2">
     {{caso.descripcion}}
   </label>
 </div>

 </p-panel>

</div>

  </div>



   <br/>


   <p-panel header="{{ 'detallecaso.fotografialesion' | translate }}
   {{ 'detallecaso.tituloinformacionpaciente2' | translate }}" [toggleable]="true">

   <div class="panel-body" style="background-color:#0F89D1;">
   <p-carousel [value]="caso.imagenes" [numVisible]="4" [numScroll]="4">
    <ng-template let-item pTemplate="item">
      <div class="itemlabel"></div>
      <div class="mb-3">
        <img src="{{item}}" width="300" height="300"
         styleClass="product-image" />
    </div>

    </ng-template>
  </p-carousel>
</div>
  </p-panel>


    <br>

  <form [formGroup] = "reclamarcasoform"  (ngSubmit)="submit()" id="reclamarcasoform">

    <div  class="panel panel-default" style="margin-left: 100px; width: 80%;background-color:#0F89D1;">
      <div class="panel-heading">


 </div>
</div>

<p-toast key="reclamado"></p-toast>



<div id="contenedor" >
  <button type="submit" title="Ingresar" (click)="reclamarCaso()" name="Ingresar" class="button ingresar">
    {{ 'detallecaso.reclamarcaso' | translate }}
  </button>


  <div style="width: 10%; float: right">
  </div>

    <button type="submit" title="Cancelar" name="Cancelar" class="button cancelar">
      {{ 'login.botoncancelar' | translate }}
    </button>
</div>
  </form>

  </body>
</html>




